@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    Iza Kukawska <a href="mailto:Support@example.com">Support@example.com</a><br />
    Łukasz Dejko <a href="mailto:lukasz.f.d@gmail.com">lukasz.f.d@gmail.com</a><br />
    Krzysztof Kurkiewicz <a href="mailto:krzysztof.kurkiewicz@softmaks.pl">krzysztof.kurkiewicz@softmaks.pl</a><br />
</address>


