<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../../js/datatables.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ListPlanViewModel;
@{
    ViewData["Title"] = "Lista planów daneg Uzytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista dostępnych podkategorii produktów</h1>


<div style="margin-top: 50px">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Miesiac</th>
                <th scope="col">Zalozona kwota</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row"></th>
                    <td style="height: 50px;">@item.Miesiąc</td>
                    <td style="height: 50px;">@item.ZalozonaKwota</td>
                </tr>
            }
        </tbody>

    </table>
</div>
