@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model NewKategoriaViewModel;

@{
    ViewData["Title"] = "AddNewCategory";
}

<h1>Dodaj nową kategorię</h1>

<form asp-action="AddNewCategory">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Kategoria" for="Kategoria">Nazwa kategorii</label>
        <input asp-for="Kategoria" type="text" class="form-control" id="Kategoria" placeholder="Example category">
        <span asp-validation-for="Kategoria" class="text-danger"></span>
    </div>
    <div style = "display:none">
        <input asp-for="IdUzytkownika" value="0">
    </div>
    <div class="form-group">
        <input type="submit" value="Dodaj kategorię" class="btn btn-success" style="margin-top:30px" />
    </div>
</form>
