<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />

@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model Tuple<ListKategoriaViewModel, ListPodkategoriaViewModel>;
@{
    ViewData["Title"] = "Lista dostępnych podkategorii produktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista dostępnych podkategorii produktów</h1>


<div style="margin-top: 50px">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id podkategorii</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Nazwa podkategorii</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2.Items)
            {
            <tr>
                <td style="height: 50px;">@item.PodId</td>
                @foreach (var item1 in Model.Item1.Items)
                {
                    if (item1.KatId==item.IdKategorii)
                    {
                        <td style="height: 50px;">@item1.Kategoria</td>
                    }
                }
                <td style="height: 50px;">@item.Podkategoria</td>
                <td style="height: 50px;"><a asp-action="DeleteSubcategory" asp-route-id="@item.PodId">Delete</a></td>
            </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $('#myTable').dataTable({
        columnDefs: [{
        orderable: false,
        targets: 2
        }],
    });
    $('#myTable_wrapper').removeClass( 'form-inline' )

</script>


