@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<p class="col-md-8" style="margin-left: auto; margin-right: auto;">Polityka prywatności zgodna z wytyczymi o Ochronie Danych Osobowych 2016/679 (RODO).</p>
