@model Post

@{ 


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h2>@Model.Title</h2>
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var image_path = $"/Image/{Model.Image}";
        <img src="@image_path" width="500"/>
    }
    <p>
        @Model.Body
    </p>
</body>
</html>